<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Bike Store</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("One Stop for Bikes", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Inventories", "Index", "Inventories")</li>
                    </ul>
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Employees", "Index", "Employees")</li>
                    </ul>
                }
                @if (User.IsInRole("Manager") || User.IsInRole("Employee"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Orders", "Index", "Orders")</li>
                    </ul>
                }
                @if (User.IsInRole("Manager"))
                {
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Sales Stats", "CalcStats", "Store")</li>
                    </ul>
                }
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.Partial("_LoginPartial")</li>
                </ul>
                @*<ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Logout", "delete", "session")</li>
                </ul>*@
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bike Glossary", "BikeGlossary", "Home")</li>
                </ul>
                <ul class="nav navbar-nav pull-right">
                    <li>@Html.ActionLink("Contact", "ContactDetails", "Store")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Pedal Works</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
    